.redux-ag-grid {
  padding: 10px; }
  .redux-ag-grid button {
    line-height: inherit;
    color: inherit; }
  .redux-ag-grid .grid-topbar:after {
    display: table;
    content: "";
    clear: both; }
  .redux-ag-grid .grid-topbar .grid-static-buttons {
    float: left;
    width: 100%;
    min-height: 1px; }
  .redux-ag-grid .grid-topbar .grid-search {
    float: left;
    width: 100%; }
  @media (min-width: 768px) {
    .redux-ag-grid .grid-topbar .grid-static-buttons {
      width: 75%; }
    .redux-ag-grid .grid-topbar .grid-search {
      width: 25%; } }
  .redux-ag-grid .ag-cell[colid="id"], .redux-ag-grid .ag-cell[colid="resource_no"], .redux-ag-grid .ag-cell[colid="AssetNo"] {
    user-select: initial; }
  .redux-ag-grid .btn-actions .btn {
    padding: 1px 2px;
    font-size: 8px;
    line-height: 1.5;
    border-radius: 0; }
  .redux-ag-grid .action-cell {
    padding-right: 5px;
    padding-left: 5px; }
    .redux-ag-grid .action-cell button {
      background-color: #ddedff !important;
      color: #526075 !important; }
      .redux-ag-grid .action-cell button:hover {
        background-color: #4783fa !important;
        color: white !important; }

.ag-material .ag-header {
  color: #0a1633;
  border-bottom: 1px solid #e1e6f0; }
.ag-material .ag-header-select-all {
  padding-left: 13px; }
.ag-material .ag-header-select-all, .ag-material .ag-selection-checkbox {
  opacity: 0.6; }
.ag-material .ag-cell:focus {
  outline: none; }
.ag-material .ag-menu {
  border: 1px solid #f9f9fa;
  box-shadow: rgba(0, 0, 0, 0.03922) 0 1px 15px, rgba(0, 0, 0, 0.03922) 0 1px 13px;
  max-height: 600px;
  height: auto;
  overflow-y: auto; }
.ag-material .ag-cell-no-focus {
  border-bottom: none; }
.ag-material .ag-row-even {
  background-color: #f9f9fa; }
.ag-material .ag-header-cell:first-child,
.ag-material .ag-cell:first-child {
  padding-left: 10px; }
.ag-material .ag-cell-not-inline-editing {
  padding-top: 12px !important; }
.ag-material .ag-group-cell {
  font-style: normal; }
.ag-material .ag-row-selected {
  color: white;
  background-color: rgba(82, 96, 117, 0.2); }
  .ag-material .ag-row-selected.ag-row-hover {
    background-color: rgba(71, 131, 250, 0.5) !important; }
.ag-material .ag-header-group-cell-label {
  padding: 0 !important; }
.ag-material .ag-header-group-cell-with-group .ag-header-group-text {
  margin-right: 2px;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid #4783fa; }
.ag-material .ag-header-cell-resize:hover {
  background-color: #9a9a9a; }
.ag-material .ag-header-expand-icon {
  margin-left: -20px; }
.ag-material .custom-grid-header {
  text-align: left;
  padding-left: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #526075; }
  .ag-material .custom-grid-header .grid-sort, .ag-material .custom-grid-header .grid-filter {
    opacity: 0.3;
    cursor: pointer;
    margin-left: 2px;
    position: relative;
    top: 1px; }
    .ag-material .custom-grid-header .grid-sort:hover, .ag-material .custom-grid-header .grid-sort.active, .ag-material .custom-grid-header .grid-filter:hover, .ag-material .custom-grid-header .grid-filter.active {
      opacity: 1; }

.small-header .custom-grid-header {
  font-size: 10px; }
  .small-header .custom-grid-header .grid-sort, .small-header .custom-grid-header .grid-filter {
    opacity: 0.1; }

.grid-button button:hover:not([disabled]) {
  box-shadow: rgba(0, 0, 0, 0.15098) 0 3px 10px, rgba(0, 0, 0, 0.22098) 0 3px 10px; }

.grid-search-field {
  position: relative; }
  .grid-search-field input {
    border: none;
    background: #f4f5f9;
    line-height: 30px;
    padding: 0 5px;
    border-radius: 2px; }
    .grid-search-field input:focus {
      border-color: #4783fa; }
  .grid-search-field:after {
    position: absolute;
    right: 5px;
    content: "\1F50D";
    top: 7px; }

/*# sourceMappingURL=style.css.map */
